/* #region Footer */

footer {
    margin: 50px 0 0 0 !important;
    padding: 100px 0 140px 0 !important;
    width: 100vw;
}

/* #endregion */

/* #region About */

footer p.about-block {
    text-align: justify;
}

/* #endregion */

/* #region Contact information */

div.item i, div.item div.header {
    color: var(--color-gray) !important;
}

div.item div.header small {
    color: var(--color-gray-light) !important;
}

/* #endregion */

/* #region Map */

footer iframe#map {
    border: none;
    height: 100%;
    width: 100%;
    box-shadow: 0px 2px 3px var(--color-gray-light);
}

/* #endregion */

/* #region Copyright */

footer div.copyright {
    bottom: 0;
    color: var(--color-gray);
    left: 0;
    position: absolute !important;
    text-align: center;
    width: 100%;
}

/* #endregion */

@media screen and (max-width: 766px) {
    iframe#map {
        height: 250px !important;
    }
}