:root {
    --color-dark: #2E2E2E;
    --color-light: #ffffffd7;
    --color-gray: #6d6d6d;
    --color-gray-light: #6d6d6d5d;
}

/* #region Scrolling Bar */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-gray);
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-light);
}

/* #endregion */