:root {
    --color-dark: #2E2E2E;
    --color-light: #ffffffd7;
    --color-gray: #6d6d6d;
    --color-gray-light: #6d6d6d5d;
}

body {
    overflow: hidden;
}

/* #region Scrolling Bar */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-gray);
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-light);
}

/* #endregion */

/* #region Loader */

div#loader {
    background-color: #d6d6d6;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

/* #endregion */