:root {
    --color-dark: #2E2E2E;
    --color-light: #ffffffd7;
    --color-gray: #6d6d6d;
    --color-gray-light: #6d6d6d5d;
}

h1, h2, h3, h4, h5, h6, p {
    color: var(--color-dark);
}

body {
    overflow: hidden;
    position: relative;
}

main {
    position: relative;
}

div.para-bg {
    background-attachment: fixed;
    background-image: url(../img/backgrounds/bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    left: 0;
    height: 350px;
    opacity: .06;
    position: absolute;
    width: 100%;
}

/* #region Creative section */

section#creative {
    background-image: url(../img/backgrounds/creative-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(60%);
    margin: 80px 0;
    padding: 50px 20px;
    position: relative;
}

section#creative h2 {
    font-size: 40px;
    font-weight: 400;
    margin: 300px 0 130px 0;
    text-align: center;
    text-transform: uppercase;
}

section#creative i {
    margin-bottom: 50px;
}

section#creative div.grid div.column {
    text-align: center;
    padding: 0 50px !important;
}

/* #endregion */

/* #region Jobs */

section#jobs {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    margin-top: 200px;
    overflow: hidden;
}

section#jobs::after {
    mask-image: linear-gradient(to bottom, black, transparent);
    -webkit-mask-image: linear-gradient(to bottom, black, transparent);
    -o-mask-image: linear-gradient(to bottom, black, transparent);
    -ms-mask-image: linear-gradient(to bottom, black, transparent);
    -moz-mask-image: linear-gradient(to bottom, black, transparent);

    background-image: url(../img/backgrounds/services-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 100%;
    left: 0;
    opacity: .15;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

section#jobs div#jobs-carousel {
    cursor: w-resize;
    height: 600px;
    width: 100%;
    z-index: 1;
}

section#jobs h2 {
    font-size: 35px;
    text-align: center;
}

section#jobs div#jobs-carousel img {
    border-radius: 3px;
    filter: grayscale(70%);
    height: 600px;
    transition-duration: .3s;
    transition-property: filter;
}

section#jobs:hover div#jobs-carousel img {
    filter: grayscale(0%);
}

/* #endregion */

/* #region Scrolling Bar */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-gray);
    border-radius: 2px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-light);
}

/* #endregion */

/* #region Loader */

div#loader {
    background-color: #d6d6d6;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

/* #endregion */

@media screen and (max-width: 766px) {
    section#creative {
        background-image: none;
        padding: 20px 10px !important;
    }

    section#creative h2 {
        font-size: 25px;
        margin: 50px 0 100px 0;
    }

    section#creative div.grid div.column {
        margin-bottom: 60px !important;
    }
}