div.carousel {
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    overflow: hidden;
}

ul.carousel-container {
    list-style-type: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    transition-property: top;
    transition-duration: 1s;
}

li.carousel-item {
    height: 100%;
    width: 100%;
}

li.carousel-item > img {
    filter: grayscale(100%) blur(8px);
    height: 100%;
    opacity: .2;
    width: 100%;
}