.jobs-gallery {
    margin-top: 50px !important;
}

.jobs-gallery .jobs-thumbs img {
    cursor: pointer;
    border: 4px solid transparent;
    border-radius: 2px;
    filter: grayscale(100%);
    transition-property: border-color;
    transition-duration: .3s;
    box-sizing: border-box;
}

.jobs-gallery .jobs-thumbs img.is-active, .jobs-gallery .jobs-thumbs img.is-active:hover {
    border-color: rgb(58, 146, 218);
    filter: grayscale(0%);
}

.jobs-gallery .jobs-thumbs img:hover {
    border-color: rgba(0, 0, 0, .5);
}