div.services-bg {
    background-image: url(../images/services-bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    height: 100vh;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    opacity: .3;
    overflow: hidden;
}

section img {
    border: 3px solid rgba(78, 78, 90, .3);
    border-radius: 3px;
    cursor: pointer;
    filter: grayscale(100%);
    transition-duration: .3s;
    transition-property: filter border-color;
}

section img:hover {
    filter: grayscale(0%);
    border-color: rgb(58, 146, 218);
}